# ------------------
# 開発環境
# ------------------

main = "custom-worker.ts"
name = "yondako-dev"
compatibility_date = "2024-12-30"
compatibility_flags = ["nodejs_compat"]
workers_dev = true
preview_urls = false

[vars]
BETTER_AUTH_URL = "<DEVELOPMENT_URL>"
FORM_BUG_REPORT_URL = "<FORM_BUG_REPORT_URL>"
FORM_CONTACT_URL = "<FORM_CONTACT_URL>"

[assets]
directory = ".open-next/assets"
binding = "ASSETS"

[[r2_buckets]]
binding = "NEXT_INC_CACHE_R2_BUCKET"
bucket_name = "yondako-dev-inc-cache"

[[d1_databases]]
binding = "DB"
database_name = "yondako_dev"
database_id = "<DEVELOPMENT_DATABASE_ID>"
migrations_dir = "src/db/migrations"

# 書影取得用キュー
[[queues.producers]]
queue = "yondako-dev-thumbnail"
binding = "THUMBNAIL_QUEUE"

[[queues.consumers]]
queue = "yondako-dev-thumbnail"
max_batch_size = 1
max_batch_timeout = 1
max_retries = 3
max_concurrency = 1

# ------------------
# 本番環境
# ------------------

[env.production]
name = "yondako"
workers_dev = false
preview_urls = false

[env.production.observability]
enabled = true
head_sampling_rate = 1

[[env.production.routes]]
pattern = "yondako.com"
custom_domain = true

[env.production.vars]
BETTER_AUTH_URL = "<PRODUCTION_URL>"
FORM_BUG_REPORT_URL = "<FORM_BUG_REPORT_URL>"
FORM_CONTACT_URL = "<FORM_CONTACT_URL>"
NEXT_PUBLIC_UMAMI_SCRIPT_URL="<UMAMI_SCRIPT_URL>"
NEXT_PUBLIC_UMAMI_WEBSITE_ID="<UMAMI_WEBSITE_ID>"

[[env.production.r2_buckets]]
binding = "NEXT_INC_CACHE_R2_BUCKET"
bucket_name = "yondako-prod-inc-cache"

[[env.production.d1_databases]]
binding = "DB"
database_name = "yondako"
database_id = "<PRODUCTION_DATABASE_ID>"
migrations_dir = "src/db/migrations"

# 書影取得用キュー
[[env.production.queues.producers]]
queue = "yondako-thumbnail"
binding = "THUMBNAIL_QUEUE"

[[env.production.queues.consumers]]
queue = "yondako-thumbnail"
max_batch_size = 1
max_batch_timeout = 1
max_retries = 3
max_concurrency = 1
