@import url("https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap&text=🐙");

@font-face {
  font-family: "LINE Seed JP";
  src: url("./assets/fonts/LINESeedJP_OTF_Rg.woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "LINE Seed JP";
  src: url("./assets/fonts/LINESeedJP_OTF_Bd.woff2");
  font-weight: bold;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "LINE Seed JP";
}
