name: Storybook Tests

on:
  push:
    branches:
      - main
      - develop
  pull_request:
    branches:
      - main
      - develop

jobs:
  storybook-test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Setup Bun
        uses: ./.github/actions/setup-bun

      - name: Setup Playwright
        uses: ./.github/actions/setup-playwright

      - name: Serve Storybook and run tests
        run: |
          bunx concurrently -k -s first -n "SB,TEST" -c "magenta,blue" \
            "bun preview:storybook" \
            "bunx wait-on tcp:127.0.0.1:6006 && bun test:storybook"

  # ジョブの再試行
  # https://blog.logto.io/ja/automatic-github-workflow-rerun
  rerun-on-failure:
    needs: storybook-test
    if: failure() && fromJSON(github.run_attempt) < 3
    runs-on: ubuntu-latest
    steps:
      - env:
          GH_REPO: ${{ github.repository }}
          GH_TOKEN: ${{ secrets.GH_TOKEN_GHA_RERUN }}
        run: gh workflow run rerun.yml -F run_id=${{ github.run_id }}
